<div class="projects main">
  <div class="container">
    <div class="row text-right">
      <%= link_to "New Project", new_project_path, remote: true, class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#project-content-modal" %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table projects-list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.total_time %> </td>
              <td class="text-right">
                <%= link_to raw('<span class="glyphicon glyphicon-edit"></span> Editar'), edit_project_path(project), remote: true, "data-toggle" => "modal", "data-target" => "#project-content-modal" %>

                <%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Eliminar'), project_path(project), method: :delete, data: {confirm: "Are you sure?"} %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="project-content-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">New Project</h4>
      </div>

      <div id="new-project-form"></div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>