<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">
        <% if activity_pending? %>
          <%= render "form_edit" %>
        <% else %>
          <%= render "form_create" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <table class="table activities-list">
        <thead>
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Time</th>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do | activity | %>
          <tr>
            <td><%= activity.project.name %></td>
            <td><%= activity.description %></td>
            <td class="text-center"><%= activity.calc_time %> segundos</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>